@use "./colors" as *;

@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	color: $grey;
	background-color: $light-grey;
	font-family: "Instrument Sans", sans-serif;
	font-size: 1.6rem;
	line-height: 150%;
}
.container-app {
	max-width: 1440px;
	margin: 0 auto;
}
.container {
	margin: 0 2.4rem;
}

footer {
	opacity: 0;
}
