@use "./colors" as *;

.btn__box {
	margin: 0 2.4rem;

	@media (min-width: 769px) {
		display: flex;
		justify-content: flex-end;
		margin: 0 4rem;
		.btn-save {
			width: 100px;
		}
	}
}

.add-link__box {
	display: flex;
	align-items: center;
	flex-direction: column;

	.heading-M {
		margin: 2.4rem 0;
	}

	&--text {
		max-width: 488px;
		margin: 0 auto;
	}

	&--content {
		width: 100%;
		margin-top: 2.4rem;
		padding: 2rem;
		background-color: $light-grey;
		border-radius: 12px;

		img {
			height: 8rem;
		}
	}

	&--preview {
		width: 100%;
		margin-top: 2.4rem;
		padding: 2rem;
		background-color: $light-grey;
		border-radius: 12px;
	}
}

.drag-drop__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.2rem;

	&--text {
		font-weight: bold;
	}

	.drag-drop__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: grab;

		img {
			height: 6px;
			margin-right: 0.9rem;
		}
	}

	.btn-remove {
		border: none;
		background: none;
		color: $grey;
		cursor: pointer;
	}
}

.dropdown {
	position: relative;

	&__text {
		color: $dark-grey;
		text-align: start;
		margin-bottom: 0.4rem;
	}

	&__btn {
		font-size: 1.6rem;
		cursor: pointer;
	}

	&__btn,
	.link-input {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.2rem 1.6rem;
		width: 100%;
		background-color: $white;
		border: 1px solid $borders;
		border-radius: 8px;

		&:last-child {
			margin-bottom: 0;
		}

		p {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $dark-grey;

			img {
				margin-right: 1.2rem;
			}
		}
	}

	#link-input {
		padding-left: 2.4rem;
		background-image: url("/assets/images/icon-link.svg");
		background-repeat: no-repeat;
		background-position: 1.6rem;
		text-indent: 20px;

		&::placeholder {
			color: $grey;
		}
	}

	&:last-child {
		margin-top: 1.2rem;
	}
}

.dropdown__menu {
	position: absolute;
	background-color: $white;
	list-style: none;
	width: 100%;
	max-height: 150px;
	z-index: 5;
	border: 1px solid $borders;
	border-radius: 8px;
	overflow-y: scroll;

	&--item {
		display: flex;
		align-items: center;
		padding: 1.2rem 1.6rem;
		padding-bottom: 1rem;
		text-align: start;
		border-bottom: 1px solid $borders;
		color: $dark-grey;
		cursor: pointer;

		&:last-child {
			border-bottom: none;
		}

		img {
			margin-right: 1.2rem;
		}

		&:hover {
			background-color: $light-purple;
		}
	}
}

.dropdown__menu::-webkit-scrollbar {
	width: 0.5rem;
}

.dropdown__menu::-webkit-scrollbar-thumb {
	background-color: $borders;
	border-radius: 3px;
}

@media (min-width: 769px) {
	.add-link__box {
		&--content {
			// margin-top: 8.2rem;

			img {
				height: 16rem;
			}
		}
	}
}
